<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mapbox.Dependencies" version="1.0.0" targetFramework="net35" />
  <package id="MapBox.Unity" version="1.0.1.4" targetFramework="net35" />
  <package id="UnityEditor.dll" version="1.0.3" targetFramework="net35" />
  <package id="UnityEngine.dll" version="1.0.3" targetFramework="net35" />
  <package id="UnityEngine.UI.dll" version="1.0.0" targetFramework="net35" />
</packages>